---
layout: default
---

<div id="main" role="main">
	<div class="wrap">
		{% if page.feature %}
		<div class="page-feature">
			<div class="page-image">
				<img src="{{ site.url }}{{ page.feature }}" class="page-feature-image" alt="{{ page.title }}">
				{% if page.image.credit %}{% include image-credit.html %}{% endif %}
			</div><!-- /.page-image -->
		</div><!-- /.page-feature -->
		{% endif %}
		<div class="page-title">
			<h1>{{ page.title }}</h1>
			{% if page.excerpt %}<h2>{{ page.excerpt }}</h2>{% endif %}
		</div>
		<div class="archive-wrap">
			<div class="page-content">
				<p>{{ content }}</p>

				<div class="tiles">
					{% for post in site.posts limit: 4 %}
					{% include post-grid-w-dates.html %}
					{% endfor %}
				</div><!-- /.tiles -->

				<article class="post-list" itemscope itemtype="http://schema.org/Article">
				</article><!-- /.tile -->
				<div class="page-title">
					<h1>Äldre notiser</h1>
				</div>
				<div class="post-list">
					{% for post in site.posts offset: 4 limit: 30 %}
					{% include post-list-w-dates.html %}
					{% endfor %}

				</div>
			</div>
		</div>
	</div><!-- /.wrap -->
</div><!-- /#main -->